<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <div class="row topbanner">
      <div class="col-12 text-center">

        <a class="navbar-brand text-center" href="/">
          <img src="/assets/img/vector/ic-logo.svg" class="img-fluid logo-img" alt="resilab" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

      </div>
      <div class="col-12 text-center">

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link" href="#topbanner">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#clients">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contacto</a>
            </li>

          </ul>
        </div>

      </div>
    </div>

  </div>
</nav>