.navbar-img{
  max-height: 42px;
}

nav{
  background: var(--site-color);
  color: #FFF;
}

.navbar-brand, .nav-link, .navbar-toggler{
  color: #FFF;
}

.topbanner{
  margin: auto;
}

.logo-img{
  max-height: 32px;
}
