<section id="topbanner">
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="/assets/img/banners/banner1.webp" class="d-block w-100" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/img/banners/banner2.webp" class="d-block w-100" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/img/banners/banner3.webp" class="d-block w-100" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/img/banners/banner4.webp" class="d-block w-100" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/img/banners/banner5.webp" class="d-block w-100" />
      </div>
    </div>
  </div>
</section>