<footer class="container-fluid">
  <div class="row">

    <div class="col-md-8 text-start">
      <p>
        <a>Copyright 2021© Resilab S.A. - Todos los Derechos Reservados</a>
      </p>
    </div>
    <div class="col-md-4 text-end">
      <p class="ms-auto">
        <a href="https://vasak.net.ar/">Creado por Vasak Group</a>
      </p>
    </div>

    <div class="col-11 d-flex justify-content-center">
      <p>
        <a href="#clients"> Clientes</a> |
        <a href="mailto:icresilab@gmail.com" target="_blank">
          Trabajá con nosotros
        </a>
        <br />
      </p>
      <a href="https://vasak.net.ar/" class="ms-auto">
        <img src="https://vasak.net.ar/img/logo.svg" alt="Vasak Group" class="img-fluid lsd-img" />
      </a>
    </div>
    <div class="col-1">
      <a href="#topbanner" class="arrow-to-top">
        <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
      </a>
    </div>

  </div>
</footer>