/* You can add global styles to this file, and also import other style files */
:root{
	--site-radius: 2px;

  --site-background-1: #FFF;
  --site-background-2: #CFCFCF;
  --site-background-3: #E5E5E5;

  --site-color: #093056;
  --site-text-color: #222126;
}

body{
	background: var(--site-background-1);
	color: var(--site-text-color);
	font-family: 'Noto Sans', sans-serif;
}

h1,h2,h3,h4,h5,a{
	color: var(--site-color);
}

a:hover{
	color: var(--site-color);
	text-decoration: none;
}

p, li{
	font-size: 18px;
}

section{
	padding: 30px;
	padding-top: 150px;
	padding-bottom: 150px
}

h1{
	font-size: 50px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 35px;
}
