<section id="contact" class="container-fluid">
  <div class="row">

    <div class="col-md-6 wow fadeInRight">
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1952.2948924782456!2d-58.41094896913193!3d-34.62045418919343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccafb8b91f213%3A0xa5345dce39ffc38b!2sAv.%20Independencia%203150%2C%20C1225%20CABA!5e0!3m2!1ses-419!2sar!4v1616763256482!5m2!1ses-419!2sar"
          style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
      </div>
    </div>

    <div class="col-md-6 wow bounceInDown">
      <h1 class="text-center">Contacto</h1>
      <ul class="contact-list">
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Av. Independencia 3150(1225) CABA</li>
        <li><i class="fa fa-phone-square" aria-hidden="true"></i> 4931-4029</li>
        <li><i class="fa fa-mobile" aria-hidden="true"></i> (54 11) 1127538153</li>
        <li><i class="fa fa-whatsapp" aria-hidden="true"></i> (54 11) 1127538153</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i> icresilab@gmail.com </li>
        <li><i class="fa fa-clock-o" aria-hidden="true"></i> Lunes a Viernes de 9 a 18 hs.</li>
      </ul>
      <p class="buttons text-center">
        <a href="tel:49314029" target="_blank">
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </a>&nbsp;
        <a href="tel:+5491127538153" target="_blank">
          <i class="fa fa-mobile" aria-hidden="true"></i>
        </a>&nbsp;
        <a href="mailto:icresilab@gmail.com" target="_blank">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>&nbsp;
        <a href="https://api.whatsapp.com/send?phone=+5491127538153" target="_blank">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a>&nbsp;
      </p>
      <a href="https://api.whatsapp.com/send?phone=+5491127538153" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
      </a>
    </div>

  </div>
</section>